<p-dialog header="Eliminar registro" [(visible)]="visible" [modal]="true" [closable]="false"
  [style]="{ width: '25rem' }">
  <span *ngIf="itemToDelete" class="p-text-secondary block mb-5">¿Desea eliminar el registro <strong>{{
      itemToDelete.title }}</strong> con id <strong>{{ itemToDelete.id }}</strong>?</span>
  <div class="flex justify-content-end gap-2">
    <p-button label="No" icon="pi pi-times" (onClick)="onCancel()" severity="danger" class="p-button-outlined" />
    <p-button label="Sí" icon="pi pi-check" (onClick)="onConfirm()" severity="success" />
  </div>
</p-dialog>
