<div class="d-flex" style="height: 100vh;">
  <div class="bg-dark text-white p-3 d-none d-md-block" style="width: 250px;" id="sidebar">
    <h4 class="mb-4">Menú</h4>
    <ul class="nav flex-column">
      <li *ngFor="let item of sidebarItems" class="nav-item">
        <a class="nav-link text-white" [routerLink]="item.url" routerLinkActive="active">
          <i class="bi" [ngClass]="item.icon"></i>
          {{ item.label }}
        </a>
      </li>
    </ul>
  </div>

  <div class="flex-grow-1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <button class="btn btn-light d-md-none" (click)="toggleSidebar()">
        <i class="bi bi-list"></i>
      </button>
      <span class="navbar-brand ms-3">Dashboard</span>
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>
