<div class="container-fluid">
  <!-- Usar el componente reutilizable para crear una entidad -->
  <app-create-entity [(visible)]="visible" [entityFields]="entityFields" [entity]="newItem" (cancel)="onCancelCreate()">
  </app-create-entity>
  <!-- Filtro de búsqueda -->
  <input type="text" class="form-control form-control-lg mb-4" placeholder="Filtrar" [(ngModel)]="filterText"
    (ngModelChange)="onFilterChange()">

  <!-- Tabla de Datos -->
  <div class="table-responsive" style="max-height: calc(100vh - 250px); overflow-y: auto;">
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th *ngFor="let col of columns" [style.width]="col.field === 'actions' ? '150px' : 'auto'">{{ col.header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paginatedData">
          <td *ngFor="let col of columns" [style.width]="col.field === 'actions' ? '150px' : 'auto'">
            <!-- Si la columna es 'actions', mostrar los botones de editar y eliminar -->
            <ng-container *ngIf="col.field === 'actions'; else displayValue">
              <button class="btn btn-outline-warning btn-sm" (click)="onEdit(item)">Editar</button>
              <button class="btn btn-outline-danger btn-sm" (click)="onDelete(item)">Eliminar</button>
            </ng-container>

            <!-- Mostrar el valor de la columna o el nombre del autor si está presente -->
            <ng-template #displayValue>
              <!-- Primero, verificamos si 'author' existe y, si es así, mostramos el nombre -->
              <ng-container *ngIf="col.field === 'author' && item['author']; else showColumnValue">
                {{ item['author']?.['name'] }}
              </ng-container>
              <!-- Si no es 'author', mostramos el valor de la columna correspondiente -->
              <ng-template #showColumnValue>
                {{ item[col.field] }}
              </ng-template>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginación -->
  <div class="d-flex justify-content-between">
    <div>
      <label for="pageSize" class="mb-0 me-2">Filas por página:</label>
      <select id="pageSize" class="form-select form-select-sm" [(ngModel)]="pageSize"
        (change)="onPageSizeChange(pageSize)">
        <option *ngFor="let size of [5, 10, 15]" [value]="size">{{ size }}</option>
      </select>
    </div>
    <div class="d-flex align-items-center">
      <button class="btn btn-outline-primary btn-sm me-2" (click)="onPageChange(pageIndex - 1)"
        [disabled]="pageIndex <= 0"><i class="bi bi-chevron-left"></i> Anterior</button>
      <span> Página {{ pageIndex + 1 }} de {{ totalPages }} </span>
      <button class="btn btn-outline-primary btn-sm ms-2" (click)="onPageChange(pageIndex + 1)"
        [disabled]="pageIndex >= totalPages - 1">Siguiente <i class="bi bi-chevron-right"></i></button>
    </div>
  </div>
</div>

<!-- Modal de Confirmación de Eliminación -->
<app-delete-entity [visible]="displayDeleteModal" [itemToDelete]="itemToDelete"
  (confirmDeletion)="onConfirmDeletion($event)"></app-delete-entity>
<!-- Modal de Confirmación de Eliminación -->
<app-edit-entity [visible]="displayEditModal" [entityFields]="entityFields" [itemToEdit]="itemToEdit"
  (confirmEdition)="onConfirmEdition($event)"></app-edit-entity>
